<a href="https://colab.research.google.com/github/mehmetsar/DA_assignments/blob/main/02_exploring_the_relationship_between_gender_and_policing(Student).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
ri = pd.read_csv("RI_cleaned.csv", nrows = 50000)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
drop_columns = ["state", "county_name", "county_fips", "fine_grained_location"]
ri.drop(drop_columns, axis = "columns", inplace = True)

In [9]:
ri.dropna(subset = ["driver_gender"], inplace = True)

In [10]:
ri["is_arrested"] = ri.is_arrested.astype("bool")

In [11]:
combined = ri.stop_date.str.cat(ri.stop_time, sep = " ")

In [12]:
ri["stop_datetime"] = pd.to_datetime(combined)

In [13]:
ri.drop(["stop_date", "stop_time"], axis = "columns", inplace=True)

In [14]:
ri.set_index("stop_datetime", inplace = True)

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [15]:
violation_counts = ri.violation.value_counts()
violation_counts

Speeding               36111
Moving violation        6522
Equipment               3022
Registration/plates     1463
Other                    892
Name: violation, dtype: int64

In [16]:
(violation_counts/ri.violation.count())*100

Speeding               75.215580
Moving violation       13.584670
Equipment               6.294522
Registration/plates     3.047282
Other                   1.857946
Name: violation, dtype: float64

In [21]:
ri.violation.value_counts(normalize = True)*100 # üstteki kod gibi  yüzdeyi verir

Speeding               75.215580
Moving violation       13.584670
Equipment               6.294522
Registration/plates     3.047282
Other                   1.857946
Name: violation, dtype: float64

In [18]:
ri.violation.count()

48010

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [22]:
ri.head()

                                id location_raw  ... drugs_related_stop district
stop_datetime                                    ...
2005-01-02 01:55:00  RI-2005-00001      Zone K1  ...              False  Zone K1
2005-01-02 20:30:00  RI-2005-00002      Zone X4  ...              False  Zone X4
2005-01-04 12:55:00  RI-2005-00004      Zone X4  ...              False  Zone X4
2005-01-06 01:30:00  RI-2005-00005      Zone X4  ...              False  Zone X4
2005-01-12 08:05:00  RI-2005-00006      Zone X1  ...              False  Zone X1

[5 rows x 20 columns]

In [23]:
riwomen = ri[ri["driver_gender"]=="F"]
riwomen

                                id location_raw  ... drugs_related_stop district
stop_datetime                                    ...
2005-02-24 01:20:00  RI-2005-00016      Zone X3  ...              False  Zone X3
2005-03-14 10:00:00  RI-2005-00019      Zone K3  ...              False  Zone K3
2005-03-29 23:20:00  RI-2005-00026      Zone K3  ...              False  Zone K3
2005-06-06 13:20:00  RI-2005-00035      Zone X4  ...              False  Zone X4
2005-06-18 16:30:00  RI-2005-00037      Zone X4  ...              False  Zone X4
...                            ...          ...  ...                ...      ...
2006-08-08 22:20:00  RI-2006-35911      Zone K3  ...              False  Zone K3
2006-08-08 22:25:00  RI-2006-35913      Zone K3  ...              False  Zone K3
2006-08-08 22:45:00  RI-2006-35916      Zone K1  ...              False  Zone K1
2006-08-08 22:45:00  RI-2006-35918      Zone K3  ...              False  Zone K3
2006-08-08 23:00:00  RI-2006-35920      Zone K1  ...              False  Zone K1

[13309 rows x 20 columns]

In [24]:
rimen = ri[ri["driver_gender"]=="M"]
rimen.sample(8)

                                id location_raw  ... drugs_related_stop district
stop_datetime                                    ...
2006-07-28 14:00:00  RI-2006-33957      Zone X4  ...              False  Zone X4
2005-11-27 09:28:00  RI-2005-09238      Zone K1  ...              False  Zone K1
2005-10-17 02:20:00  RI-2005-02277      Zone X4  ...              False  Zone X4
2005-10-01 15:30:00  RI-2005-00244      Zone K1  ...              False  Zone K1
2005-10-29 15:15:00  RI-2005-04313      Zone K2  ...              False  Zone K2
2006-05-12 01:50:00  RI-2006-21500      Zone X4  ...              False  Zone X4
2005-12-18 01:30:00  RI-2005-12284      Zone K1  ...              False  Zone K1
2006-05-03 06:25:00  RI-2006-20226      Zone K3  ...              False  Zone K3

[8 rows x 20 columns]

***

In [ ]:
(riwomen.violation.count()/ri.violation.count())*100

27.72130806082066

In [26]:
riwomen.violation.value_counts(normalize=True)

Speeding               0.811180
Moving violation       0.099031
Equipment              0.045608
Registration/plates    0.027575
Other                  0.016605
Name: violation, dtype: float64

In [25]:
rimen.violation.value_counts(normalize=True)

Speeding               0.729518
Moving violation       0.149967
Equipment              0.069595
Registration/plates    0.031584
Other                  0.019337
Name: violation, dtype: float64

## Comparing speeding outcomes by gender

In [ ]:
(rimen.violation.count()/ri.violation.count())*100

72.27869193917934

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [28]:
female_and_speeding = ri[(ri["driver_gender"]=="F") & (ri["violation_raw"]=="Speeding")]
female_and_speeding

                                id location_raw  ... drugs_related_stop district
stop_datetime                                    ...
2005-02-24 01:20:00  RI-2005-00016      Zone X3  ...              False  Zone X3
2005-03-14 10:00:00  RI-2005-00019      Zone K3  ...              False  Zone K3
2005-03-29 23:20:00  RI-2005-00026      Zone K3  ...              False  Zone K3
2005-06-06 13:20:00  RI-2005-00035      Zone X4  ...              False  Zone X4
2005-07-06 11:22:00  RI-2005-00038      Zone X1  ...              False  Zone X1
...                            ...          ...  ...                ...      ...
2006-08-08 22:20:00  RI-2006-35911      Zone K3  ...              False  Zone K3
2006-08-08 22:25:00  RI-2006-35913      Zone K3  ...              False  Zone K3
2006-08-08 22:45:00  RI-2006-35916      Zone K1  ...              False  Zone K1
2006-08-08 22:45:00  RI-2006-35918      Zone K3  ...              False  Zone K3
2006-08-08 23:00:00  RI-2006-35920      Zone K1  ...              False  Zone K1

[10796 rows x 20 columns]

In [27]:
male_and_speeding = ri[(ri["driver_gender"]=="M") & (ri["violation_raw"]=="Speeding")]

In [29]:
female_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.973416
Warning             0.012968
Arrest Driver       0.007410
N/D                 0.003612
Arrest Passenger    0.002316
No Action           0.000278
Name: stop_outcome, dtype: float64

***

In [30]:
male_and_speeding.stop_outcome.value_counts(normalize=True)

Citation            0.957298
Arrest Driver       0.026230
Warning             0.010666
N/D                 0.003397
Arrest Passenger    0.002015
No Action           0.000395
Name: stop_outcome, dtype: float64

In [ ]:
ri.stop_outcome.count()

48010

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [39]:
ri.search_conducted.value_counts(normalize=True)

False    0.958092
True     0.041908
Name: search_conducted, dtype: float64

In [32]:
s1 = ri[ri["search_conducted"]==True].search_conducted.value_counts()

In [33]:
s2 = ri[ri["search_conducted"]==False].search_conducted.value_counts()

In [35]:
s2

False    45998
Name: search_conducted, dtype: int64

***

In [37]:
s1

True    2012
Name: search_conducted, dtype: int64

False    1.0
Name: search_conducted, dtype: float64

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [40]:
riwomen.search_conducted.mean() #bool olduğu için trueların oranını veriyor.

0.017807498685100308

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [41]:
rimen.search_conducted.mean()

0.05115126365234431

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [43]:
ri.groupby(by=ri.driver_gender)["search_conducted"].value_counts(normalize=True)

driver_gender  search_conducted
F              False               0.982193
               True                0.017807
M              False               0.948849
               True                0.051151
Name: search_conducted, dtype: float64

In [44]:
ri.groupby(by=ri.driver_gender)["search_conducted"].mean() # sadece trueların oranını verir

driver_gender
F    0.017807
M    0.051151
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [51]:
ri.groupby([ri.driver_gender, ri.violation])["search_conducted"].value_counts(normalize=True)

driver_gender  violation            search_conducted
F              Equipment            False               0.920923
                                    True                0.079077
               Moving violation     False               0.952200
                                    True                0.047800
               Other                False               0.954751
                                    True                0.045249
               Registration/plates  False               0.885559
                                    True                0.114441
               Speeding             False               0.993146
                                    True                0.006854
M              Equipment            False               0.876605
                                    True                0.123395
               Moving violation     False               0.911222
                                    True                0.088778
               Other                False               0.845007
                                    True                0.154993
               Registration/plates  False               0.828467
                                    True                0.171533
               Speeding             False               0.971440
                                    True                0.028560
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [53]:
ri.groupby([ri.violation, ri.driver_gender])["search_conducted"].mean()

violation            driver_gender
Equipment            F                0.079077
                     M                0.123395
Moving violation     F                0.047800
                     M                0.088778
Other                F                0.045249
                     M                0.154993
Registration/plates  F                0.114441
                     M                0.171533
Speeding             F                0.006854
                     M                0.028560
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.